.container {
    background-color: rgb(238, 235, 235);
    justify-content: center;
    align-items: center;
    display: flex;
    height: 700px;
    margin: 0;
    max-width: 100%;
}

.login {
    background-color: white;
    padding: 50px;
    width: 50%;
    border-radius: 8px;


}

.padding {
    margin: 15px;
}

.login-page {
    padding-bottom: 0;
    text-align: center;
}

.padding-input {
    height: 60px;
    font-weight: bold;
    font-size: 15px;
    width: 600px;
}